<table class="centered-table">
    <thead>
      <tr>
        <th>Child Name</th>
        <th>Birthday</th>
        <th>School</th>
        <th>Address</th>
        <th>Parent Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Household Income</th>
        <th>Homeowner</th>
        <th>Car Owner</th>
        <th>Dependent Kids</th>
        <th>Single Parent</th>
        <th>Importance</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let parent of childrenData">
        <tr *ngFor="let child of parent.kids">
          <!-- Child Information -->
          <td>{{ child.child_name }}</td>
          <td>{{ child.birthday }}</td>
          <td>{{ child.school }}</td>
          <td>{{ child.address }}</td>
          
          <!-- Parent Information -->
          <td>{{ parent.parent_name }}</td>
          <td>{{ parent.email }}</td>
          <td>{{ parent.phone_number }}</td>
  
          <!-- Additional Parent Properties -->
          <td>{{ parent.household_income }}</td>
          <td>{{ parent.homeowner ? 'Yes' : 'No' }}</td>
          <td>{{ parent.carowner ? 'Yes' : 'No' }}</td>
          <td>{{ parent.DependentKids }}</td>
          <td>{{ parent['Single Parent'] ? 'Yes' : 'No' }}</td>
          <td>{{ parent.importance }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  